auto_label/yolov8x.pt
yolov8x.pt
data/raw/images/
data/labeled/
data/visualized/.dvc/cache/
.dvc/cache/
# Ignore Prometheus release files
prometheus-*.tar.gz
prometheus-*.zip
prometheus-*.tgz

# Ignore unpacked Prometheus binaries
prometheus-*/prometheus
prometheus-*/promtool

# Ignore Prometheus release files
prometheus-*.tar.gz
prometheus-*/prometheus
prometheus-*/promtool
prometheus-*/
